
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="position-relative card table-nowrap table-card">
                <div class="card-header align-items-center">
                    <h5 class="mb-0">Contact List</h5>
                   
                </div>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="small text-uppercase bg-body text-muted">
                            <tr>
                              <th scope="col">FirstName</th>
                              <th scope="col">LastName</th>
                              <th scope="col">Email</th>
                              <th scope="col">Phone</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="align-middle" *ngFor="let user of userResponse">
                              <td>{{user.firstName}}</td>
                              <td>{{user.lastName}}</td>
                              <td>{{user.email}}</td>
                              <td>{{user.phone}}</td>
                              <td><a [routerLink]="['/users','edit',user.id]">View</a></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
</div>